@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&:wght@400;700display=swap');


:root {
    // Fonts
    --heading-font: 'Open Sans', sans-serif;
    --body-font: 'Raleway', sans-serif;

    // Primary colors
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);

    // Accent colors
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);

    // Neutral colors
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.header-logo {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    position: absolute;
    left: -1.2rem;
    top: .8rem;
}

.nav {
    font-family: var(--body-font);
    font-weight: 400;
    display: flex;
    gap: 1.9rem;
    list-style-type: none;
    justify-content: flex-end;
    font-size: .75rem;
    padding: 1.8rem 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    .illustration-1 {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: auto;
        margin-top: 4.5rem;
    }
    
    h1 {
        font-family: var(--body-font);
        font-weight: 700;
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
        align-self: center;
        padding: 2.2rem .75rem 1.6rem;
        line-height: 1.4;
    }
    .first-p {
        align-self: center;
        text-align: center;
        font-size: 1rem;
        padding: 0 2rem;
        font-weight: 400;
        line-height: 1.5;
    }

    .header-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        input {
            width: 82%;
            padding: .75rem 1.4rem;
            margin: 2rem 0 1rem;
            border: .9px solid black;
            border-radius: 3px;
            font-family: var(--body-font);
            color: var(--light-gray);
            font-size: .8rem;
        }
        .btn {
            width: 83%;
            background-color: var(--bright-blue);
            color: white;
            text-align: center;
            padding: .7rem 1.4rem;
            margin: .1rem 0 1rem;
            font-family: var(--body-font);
            font-size: .825rem;
            font-weight: 700;
            border-radius: 3px;
            box-shadow: 0px 2px 6px var(--light-gray);
        }
    }

    .curve {
        margin-top: 5rem;
        width: 100%;
    }

    .light-grey-bg {
        background-color: var(--light-grayish-blue);
        display: flex;
        flex-direction: column;
    }
    .illustration-2 {
        padding: 2rem;
        height: auto;
        width: 100%;
        background-color: var(--light-grayish-blue);
    }
    h2 {
        text-align: center;
        background-color: var(--light-grayish-blue);
        font-size: .95rem;
        letter-spacing: .4px;
        font-family: var(--body-font);
        font-weight: 600;
        padding: 3.75rem 0 .5rem;
    }
    .p-2 {
        color: var(--very-dark-blue);
        font-size: 1rem;
        background-color: var(--light-grayish-blue);
        padding: 1rem 1.2rem 0;
        text-align: left;
        line-height: 1.4;
        margin: 0 auto;
    }
    
    .green-link-container {
        background-color: var(--light-grayish-blue);
        align-self: center;
        width: 135px;
        padding-bottom: .3rem;
        border-bottom: 1px solid var(--moderate-cyan);
        display: flex;
        justify-content: space-between;
        margin-top: 2.5rem;
        .green-link {
            position: relative;
            color: var(--moderate-cyan);
            font-size: .75rem;
            display: inline-block;
            .arrow {
                display: inline;
                justify-self: center;
            }
        }
    }
} // end main 

.aside-left {
    display: flex;
    flex-direction: column;
} // to center green link. (aside-left is a desktop utility class)

.blockquote-container {
    display: flex;
    justify-content: center;
}

blockquote {
    font-family: var(--body-font);
    background-color: white;
    max-width: 450px;
    margin: 2.5rem 3rem 5rem;
    padding: 2.5rem 1.5rem 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: .5px;
    border-radius: 2px;
    box-shadow: 0 0 10px .01px var(--light-gray);
    position: relative;
    .quotes {
        position: absolute;
        top: 1.25rem;
        left: 1.5rem;
        scale: .8;
    }
    .quote-p {
        text-align: left;
        font-size: .63rem;
        width: 100%;
        line-height: 1.75;
        padding-bottom: .8rem;
    }
    .quote-img {
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }
    .person-container {
        display: flex;
        align-self: flex-start;
        .name-and-title {
            padding-left: .5rem;
            .name {
                font-size: .6rem;
                font-weight: 700;
                padding-bottom: .125rem;
            }
            .title {
                font-size: .4rem;
            }
        }
    }
}

.early-access {
    font-family: var(--heading-font);
    font-weight: 700;
    background-color: var(--desaturated-blue);
    color: white;
    text-align: center;
    padding: 3.5rem 2.75rem 4.5rem;
    display: flex;
    flex-direction: column;
    h3 { // "Get early access today"
        font-family: var(--body-font);
        font-weight: 700;
        font-size: 1.1rem;
        padding-bottom: 1rem;
    }
    p {
        font-size: .875rem;
        font-weight: 400;
        padding-bottom: 1.3rem;
        line-height: 1.6;
    }
    input, .btn-2 {
        width: 85%;
        border: 0;
        border-radius: 3px;
        padding: .6rem .25rem;
        font-size: .6rem;
    }
    input {
        font-family: var(--body-font);
        font-weight: 400;
        color: var(--light-gray);
        margin-bottom: .5rem;
        padding-left: 1em;
    }
    .btn-2 {
        background-color: var(--bright-blue);
        color: white;
        font-weight: 400;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

footer {
    background-color: var(--very-dark-blue);
    color: white;
    padding: 4rem 2.5rem 3rem;
    .footer-logo {
        color: white;
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(6deg) brightness(101%) contrast(101%);
        // don't know why filter property is not working on entire svg.
        padding-bottom: 2rem;
    }
    .contact-container {
        display: flex;
        align-items: center;
    }

    .contact-container + .contact-container {
        padding: 1.25rem 0 2rem;
    }  // targets only email div

    .footer-icon {
        height: 50%;
        justify-self: center;
        padding-right: 1rem;
    }
    ul {
        list-style-type: none;
        li {
            padding-top: 1rem;
        }
    }
    ul + ul {
        margin: 2.5rem 0 3rem;
    }
    .social-icon-container {
        display: flex;
        justify-content: center;
        gap: .75em;
        .social-icon {
            width: 25px;
            height: 25px;
            border: 1px solid white;
            border-radius: 50%;
        }  // icons not included in files! 
    }
}

// DESKTOP 

@media (min-width: 900px) {
    .header-logo {
        position: relative;
        -webkit-transform: scale(1);
        transform: scale(1);
        left: 0;
        top: 0;
    }
    .nav-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 4rem 5rem 0;
    }
    .nav {
        padding: 0;
        font-size: 1.1rem;
        gap: 3rem;
    }
    .hero-flex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
        height: auto;
        margin: 2rem 5rem 2rem;
    }
    .hero-flex-left {
        order: -1;
        display: flex;
        flex-direction: column;
        align-self: center;
        max-width: 600px;
        h1 {
            text-align: left;
            font-weight: 700;
            font-size: 2.3rem;
            padding: 0;
        }
        p {
            text-align: left;
            padding: 1.5rem 0;
            max-width: 35rem;
            align-self: flex-start;
            font-size: 1.1rem;
        }
        .header-form {
            display: grid;
            grid-template-columns: 60% 40%;
            grid-gap: 1rem;
            max-width: 32.5rem;
            input {
                margin: 0;
                width: auto;
            }
            .btn {
                margin: 0;
                width: auto;
            }
        }
    }

    .hero-flex-right {
        align-self: center;
        .illustration-2 {
            width: 100%;
        }
    }

    aside {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
        height: auto;
        margin: 0 5rem 2rem;
        align-items: center;
        .aside-left {
            order: -1;
            h2 {
                text-align: left;
                font-size: 2.3rem;
                padding-top: 0;
            } 
            .p-2 {
                padding-left: 0;
                font-size: 1rem;
            }
            .blockquote-container {
                justify-content: left;
            }
            blockquote {
                margin-left: 0;
                margin-right: 0;
                p {
                    font-family: var(--heading-font);
                    color: var(--very-dark-blue);
                    font-size: .75rem;
                    max-width: 17rem;
                }
            }
            .green-link-container {
                align-self: flex-start;
                margin-top: 1rem;
            }
        }
        .illustration-2 {
            padding: 0;
        }
    } // end aside

    .early-access {
       display: grid;
       grid-template-columns: 60% 40%;
       padding: 6.5rem 5rem 4rem;
       gap: 2rem;
       .early-access-flex-left {
           text-align: left;
           h3 {
               font-size: 2rem;
           }
           p {
               max-width: 32rem;
               font-size: 1rem;
           }
       }
       .early-access-flex-right {
           display: flex;
           flex-direction: column;
           align-items: flex-start;
           input, .btn-2 {
                padding: 1rem 1.5rem;
                font-size: .8rem;
           }
           input {
               margin-bottom: 1rem;
           }
           .btn-2 {
               margin: 0;
               max-width: 200px;
               font-weight: 700;
           }
       }
    }

    footer {
        padding: 12rem 5rem 5rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        padding-right: 20%;
        .footer-logo {
            position: absolute;
            top: 7rem;
            left: 0rem;
        }
        ul:nth-of-type(2) {
            margin-top: 0;
        }
        li:first-child {
            padding-top: 0;
        }
        .social-icon-container {
            .social-icon {
                width: 30px;
                height: 30px;
            }
        }
    }
}