@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&:wght@400;700display=swap");
:root {
  --heading-font: "Open Sans", sans-serif;
  --body-font: "Raleway", sans-serif;
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-flex .nav {
  font-family: var(--body-font);
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.9rem;
  list-style-type: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: calc(min(3vw, 1rem));
  padding: 1.8rem 1.5rem;
}

.nav-flex .nav li {
  cursor: pointer;
  white-space: nowrap;
}

.nav-flex .nav li:hover {
  text-decoration: underline;
}

.nav-flex .header-logo {
  width: 30vw;
  max-width: 150px;
  margin: .5rem 0 0 1.5rem;
  cursor: pointer;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .illustration-1 {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  height: auto;
  margin-top: 4.5rem;
}

main h1 {
  font-family: var(--body-font);
  font-weight: 700;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 2.2rem 0.75rem 1.6rem;
  line-height: 1.4;
}

main .hero-p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-size: 1rem;
  padding: 0 2rem;
  font-weight: 400;
  line-height: 1.5;
}

main .header-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .header-form .input-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

main .header-form .hero-email {
  width: 82%;
  padding: 0.75rem 1.4rem;
  margin: 2rem 0 0;
  border: 0.9px solid black;
  border-radius: 3px;
  font-family: var(--body-font);
  font-size: 0.8rem;
  color: var(--desaturated-blue);
}

main .header-form input::-webkit-input-placeholder {
  color: var(--light-gray);
}

main .header-form input:-ms-input-placeholder {
  color: var(--light-gray);
}

main .header-form input::-ms-input-placeholder {
  color: var(--light-gray);
}

main .header-form input::placeholder {
  color: var(--light-gray);
}

main .header-form .bad-hero-email {
  color: red;
  font-size: 0.8rem;
  width: 81%;
  text-align: left;
  position: absolute;
  bottom: -1.2rem;
  left: 9%;
  font-weight: initial;
}

main .header-form .hero-btn {
  width: 83%;
  background-color: var(--bright-blue);
  color: white;
  text-align: center;
  padding: 0.7rem 1.4rem;
  margin: .9rem 0 0;
  font-family: var(--body-font);
  font-size: 0.825rem;
  font-weight: 700;
  border: 0;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 6px var(--light-gray);
          box-shadow: 0px 2px 6px var(--light-gray);
  cursor: pointer;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  position: relative;
}

main .header-form .btn:hover {
  background-color: #4a76ee;
}

main .curve {
  margin-top: 5rem;
  width: 100%;
}

main .light-grey-bg {
  background-color: var(--light-grayish-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .illustration-2 {
  padding: 2rem;
  height: auto;
  width: 100%;
  background-color: var(--light-grayish-blue);
}

main h2 {
  text-align: center;
  background-color: var(--light-grayish-blue);
  font-size: 0.95rem;
  letter-spacing: 0.4px;
  font-family: var(--body-font);
  font-weight: 600;
  padding: 3.75rem 0 0.5rem;
}

main .p-2 {
  color: var(--very-dark-blue);
  font-size: 1rem;
  background-color: var(--light-grayish-blue);
  padding: 1rem 1.2rem 0;
  text-align: left;
  line-height: 1.4;
  margin: 0 auto;
}

main .green-link-container {
  background-color: var(--light-grayish-blue);
  -ms-flex-item-align: center;
      align-self: center;
  width: 135px;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid var(--moderate-cyan);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2.5rem;
  cursor: pointer;
}

main .green-link-container .green-link {
  position: relative;
  color: var(--moderate-cyan);
  font-size: 0.75rem;
  display: inline-block;
}

main .green-link-container .green-link .arrow {
  display: inline;
  -ms-grid-column-align: center;
      justify-self: center;
  border: 1px solid red;
}

main .green-link-container:hover .arrow {
  -webkit-filter: brightness(140%);
          filter: brightness(140%);
}

main .green-link-container:hover {
  border-bottom: 1px solid #53dfc8;
}

main .green-link-container:hover .green-link {
  color: #53dfc8;
}

.aside-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blockquote-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

blockquote {
  font-family: var(--body-font);
  background-color: white;
  max-width: 450px;
  margin: 2.5rem 3rem 5rem;
  padding: 2.5rem 1.5rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.5px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 10px 0.01px var(--light-gray);
          box-shadow: 0 0 10px 0.01px var(--light-gray);
  position: relative;
}

blockquote .quotes {
  position: absolute;
  top: 1.25rem;
  left: 1.5rem;
  scale: 0.8;
}

blockquote .quote-p {
  text-align: left;
  font-size: 0.63rem;
  width: 100%;
  line-height: 1.75;
  padding-bottom: 0.8rem;
}

blockquote .quote-img {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

blockquote .person-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

blockquote .person-container .name-and-title {
  padding-left: 0.5rem;
}

blockquote .person-container .name-and-title .name {
  font-size: 0.6rem;
  font-weight: 700;
  padding-bottom: 0.125rem;
}

blockquote .person-container .name-and-title .title {
  font-size: 0.4rem;
}

.early-access {
  font-family: var(--heading-font);
  font-weight: 700;
  background-color: var(--desaturated-blue);
  color: white;
  text-align: center;
  padding: 3.5rem 2.75rem 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.early-access h3 {
  font-family: var(--body-font);
  font-weight: 700;
  font-size: 1.1rem;
  padding-bottom: 1rem;
}

.early-access p {
  font-size: 0.875rem;
  font-weight: 400;
  padding-bottom: 1.3rem;
  line-height: 1.6;
}

.early-access .early-access-flex-right {
  margin: 0 5%;
}

.early-access .early-access-flex-right input,
.early-access .early-access-flex-right .early-access-btn {
  width: 100%;
  border: 0;
  border-radius: 3px;
  padding: 0.6rem 0.25rem;
  font-size: 0.7rem;
  -webkit-box-shadow: 2px 2px 5px rgba(46, 46, 71, 0.7);
          box-shadow: 2px 2px 5px rgba(46, 46, 71, 0.7);
}

.early-access .early-access-flex-right input {
  font-family: var(--body-font);
  font-weight: 400;
  color: var(--light-gray);
  margin-bottom: 0.3rem;
  padding-left: 1em;
}

.early-access .early-access-flex-right > * {
  width: 100%;
}

.early-access .early-access-flex-right input {
  color: var(--desaturated-blue);
}

.early-access .early-access-flex-right input::-webkit-input-placeholder {
  color: var(--light-gray);
}

.early-access .early-access-flex-right input:-ms-input-placeholder {
  color: var(--light-gray);
}

.early-access .early-access-flex-right input::-ms-input-placeholder {
  color: var(--light-gray);
}

.early-access .early-access-flex-right input::placeholder {
  color: var(--light-gray);
}

.early-access .early-access-flex-right .early-access-btn {
  background-color: var(--bright-blue);
  color: white;
  font-weight: 400;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

.early-access .early-access-flex-right .bad-early-access-email {
  font-size: .7rem;
  font-weight: 400;
  text-align: left;
  margin-bottom: .5rem;
}

.early-access .early-access-flex-right .btn:hover {
  background-color: #4a76ee;
}

footer {
  background-color: var(--very-dark-blue);
  color: white;
  padding: 4rem 2.5rem 3rem;
}

footer .footer-logo {
  color: white;
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(6deg) brightness(101%) contrast(101%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(6deg) brightness(101%) contrast(101%);
  padding-bottom: 2rem;
  cursor: pointer;
}

footer .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

footer .contact-item:hover .contact {
  color: #585989;
}

footer .contact-item + .contact-item {
  padding: 1.25rem 0 2rem;
}

footer .footer-icon {
  height: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
  padding-right: 1rem;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  padding-top: 1rem;
  cursor: pointer;
}

footer ul li:hover {
  color: #585989;
}

footer ul + ul {
  margin: 2.5rem 0 3rem;
}

footer .social-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.75em;
}

footer .social-icon-container .social-icon {
  width: 25px;
  height: 25px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}

/* Desktop */
@media (min-width: 850px) {
  .nav-flex {
    margin: 4rem 5rem 0;
  }
  .nav-flex .header-logo {
    margin: 0;
    max-width: 200px;
  }
  .nav-flex .nav {
    padding: 0;
    font-size: 1.1rem;
    gap: 3rem;
  }
  .hero-flex {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    height: auto;
    margin: 2rem 5rem 2rem;
  }
  .hero-flex-left {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        align-self: center;
    max-width: 600px;
  }
  .hero-flex-left h1 {
    text-align: left;
    font-weight: 700;
    font-size: 2.3rem;
    padding: 0;
  }
  .hero-flex-left p {
    text-align: left;
    padding: 1.5rem 0;
    max-width: 35rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-size: 1.1rem;
  }
  .hero-flex-left .header-form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
    grid-gap: 0.4rem 1rem;
    max-width: 32.5rem;
  }
  .hero-flex-left .header-form input {
    margin: 0;
    width: 100%;
  }
  .hero-flex-left .header-form .bad-hero-email {
    left: 0;
  }
  .hero-flex-left .header-form .hero-btn {
    margin: 0;
    width: auto;
  }
  .hero-flex-right {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .hero-flex-right .illustration-2 {
    width: 100%;
  }
  aside {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    height: auto;
    margin: 0 5rem 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  aside .aside-left {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  aside .aside-left h2 {
    text-align: left;
    font-size: 2.3rem;
    padding-top: 0;
  }
  aside .aside-left .p-2 {
    padding-left: 0;
    font-size: 1rem;
  }
  aside .aside-left .blockquote-container {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  aside .aside-left blockquote {
    margin-left: 0;
    margin-right: 0;
  }
  aside .aside-left blockquote p {
    font-family: var(--heading-font);
    color: var(--very-dark-blue);
    font-size: 0.75rem;
    max-width: 17rem;
  }
  aside .aside-left .green-link-container {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 1rem;
  }
  aside .illustration-2 {
    padding: 0;
  }
  .early-access {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
    padding: 6.5rem 5rem 4rem;
    gap: 2rem;
  }
  .early-access .early-access-flex-left {
    text-align: left;
  }
  .early-access .early-access-flex-left h3 {
    font-size: 2rem;
  }
  .early-access .early-access-flex-left p {
    max-width: 32rem;
    font-size: 1rem;
  }
  .early-access .early-access-flex-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .early-access .early-access-flex-right input,
  .early-access .early-access-flex-right .early-access-btn {
    padding: 1rem 1.5rem;
    font-size: 0.8rem;
  }
  .early-access .early-access-flex-right .early-access-btn {
    margin: 0;
    max-width: 200px;
    font-weight: 700;
    position: initial;
    left: 0%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .early-access .early-access-flex-right .bad-early-access-email {
    font-weight: 300;
    font-size: .8rem;
    text-align: left;
  }
  footer {
    padding: 12rem 5rem 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    padding-right: 20%;
  }
  footer .logo-and-contact {
    position: relative;
    bottom: 5.4rem;
  }
  footer ul:nth-of-type(2) {
    margin-top: 0;
  }
  footer li:first-child {
    padding-top: 0;
  }
  footer .social-icon-container .social-icon {
    width: 30px;
    height: 30px;
  }
}
/*# sourceMappingURL=styles.css.map */